:root
{
  --good:#5bccf6;
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black:#030e12;
    --pomgrante:#f34c19;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);

  }

.App{
  background:#F5C32C ;
    padding: 0.5rem 3.5rem;
    overflow: hidden;
    color: #030e12;    
}
.button {
    background: #f34c19;
    border-radius: 34px;
    border: none;
    color: #030e12;
    font-size: 16px;
    padding: 11px 26px 11px 26px;
  }
  
  .button:hover {
    background: #030e12;
    cursor: pointer;
    border: 1px solid var(--orange);
    color:#f34c19;
  }
  @media screen and (max-width: 480px) {
    .App {
      padding: 0.5rem 1rem;

    }
  }

  

  